.centerElem {
    align-content: center;
    vertical-align: center;
}

.faButtonsRegistration {
    color: var(--dark-blue);
    font-size:xx-large;
    margin-right: 5px;
  }

.react-bootstrap-table {
    margin-top: 1rem;
}

.rightBtn {
    float: right;
    background-color: var(--dark-blue) !important;
    border-color: var(--dark-blue) !important;
}

.loyaltybtn {
    background-color: var(--dark-blue) !important;
    border-color: var(--dark-blue) !important;
}



