.assetCarousel {
    max-width: 600px;
    max-height: 500px;
    border-radius: 1.5rem;
    border: solid 3px var(--dark-blue);
    padding: 10px;
}

.assetCarouselImage {
    max-width: 600px;
    max-height: 350px;
    border-radius: 0.75rem;
}

@media only screen and (max-width: 767px) {
    .assetImage {
        width: 250px;
        height: 200px;
    }
  }

/* .assetScrollPicture { */
    
/* } */

@media only screen and (max-width: 767px) {
    .assetScrollPicture {
        width: 100px !important;
        height: 100px  !important;
    }
  }

.imageScroller{
    max-height: 600px;
    
    overflow:visible;
    overflow-y:auto;
}

.imageScroller img {
    border: solid 3px var(--dark-blue);
    max-width: 120px !important;
    max-height: 120px  !important;
    padding: 2px;
    }

.imageScroller img:hover {
    transform: scale(2);
    border: 0;
    }

.importantInfo{
    font-size:xx-large;
}

.renterProfilePicture {
    border: solid 3px var(--dark-blue);
    width: 60px !important;
    height: 60px  !important;
    padding: 1px;
}

.listedAssetImage {
    width: 200px !important;
    height: 200px  !important;
    border-radius: 1rem;
    border: solid 2px var(--dark-blue);
}